#top-bar {
    position: sticky;
    top: 0; 
    
    background-color: #f8c000;
    color: black;
    padding: 10px;
    text-align: center;
    z-index: 10; 
}

#fixed-button {
    position: fixed;
    right: 20px; 
    bottom: 20px; 
    
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 20; 
}